.login-page {
  width: 750px;
  padding: 8% 0 0;
  margin: auto;
}
body {
  padding-top: 80px;
  display: block;
}
.page-links {
  display: inline-flex;
  justify-content: center;
}
.link-tag {
  margin-left: 1rem;
}
